# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# PEP 582; used by e.g. pdm
__pypackages__/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# VS Code
.vscode/

# PyCharm
.idea/

# Local virtualenvs
venv/
env/
ENV/
.venv/
.env/
*.env
# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

*.env
*.zip
*.exe

nlp_models
logs
src/retrieval/semantic/search_index/*
!src/retrieval/semantic/search_index/.gitkeep
/data/triplet_extraction/listSameKey.txt
/logs/
/src/triplet_extraction/batch_preprocessing/
notebook/test_new_retrival/QA_batch_requests/checkpoints/
*.jsonl
*.faiss
listSameKey.txt
scripts/triplet_extraction/listSameKey.txt
scripts/triplet_extraction/listSameKey.txt
data/luat_dat_dai/~$Luat_dat_dai_file.xlsx
.github/copilot-instructions.md
/AGENTS.md
